.about{
    width:100vw;
    height:85vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.innerabout{
    display:flex;
    width:95vw;
    height:85vh;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  
 
}
.abouth1{
    margin-left:20vw;
}

.innerdiv1{
    display:flex;
    width:95vw;
    height:85vh;
    align-items:start;
    justify-content:center;
  
 
}
.innerdiv2{
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content:start;
    width:30VW;
    height:40vh;

    text-align: left;
    background-color:whitesmoke;
    padding:2vw;
}
.innerdiv3{
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content:start;
    width:30VW;
    height:40vh;
    margin-left:2vw;
    text-align: left;
    background-color:whitesmoke;
    padding:2vw;
}
@media (max-width:800px) {

    .about{
        font-size:smaller;
    }
    .innerabout{

    }
    .innerdiv2{
        width:40VW;
        height:65vh;
      
    }
    .innerdiv3{
        width:40VW;
        height:65vh;
       
    } 
}