
.ac{
 padding-top:2vh;
    
}
.fault{
  padding-top:1vh;
  
}
.loweradd{
    text-align:start;
    margin-left:10vw;
    padding-top: 5vh;
  }
.station{
  padding-top:2vh;
  margin-left:2vw;
}

.acinp{
   width:15vw;
    height:4vh; 
}

.stinp{
   width:15vw;
    height:4vh;
}
.atachapter{
  width:4vw;
  height:4vh;
}
.atadiv{
margin-top:2vh;
margin-left:5vw;
}
.flinp{
    padding-left:1vw;   
    width:50vw;
    height:10vh;
    border-radius: 5px;
    resize: none;
    border-style: none;
   }
   .shortfaultlinp{
    width:50vw;
    resize: none;
    border-style: none;
   }
   .shortfault{
     margin-top:1vh;
   }
.abtn{
    margin-right:35vw;
    margin-top:4vh;
    background-color:coral;
    border-radius:10px;
    border-style: hidden;
    width:15vw;
    height:5vh;
}
.noshow{
    display:none;
}
.showDisc{
    height:7vh;
    width:50vw;
    background-color:blanchedalmond;
    border-radius:5px;
    margin-top:4vh;
   
}
.showentered {
  padding:2vh;
    margin-top:5vh;
    font-weight:bold;
    }
    .solution{
    width:50vw;
    border-style: none;
    resize: none;
    padding-left:1vw;  
    }
    .replaceditems{
      display:flex;
      justify-content: start;
     
    }
    .replacedpartname{
      width:20vw;
      height:3vh;
    }
    .replacedpartnumber{
      width:20vw;
      height:3vh;
    }
    .noshowpart{
      display:none;
    }
    .add{
    
    }
    .shortinputs{
      display:flex;
    }
    .solutions{
      margin-top:1vh;
    }
    .addbtn{
      margin-bottom: 2vh;
    }