
 .side{
  list-style-type: none;
   border-style:hidden;
   border-radius:5px;
   width:20vw;
   background-color:coral;
   height:4vh;
   text-align:center;
   margin-top:1vh;

 
 }
  
.hdr{
  
  margin-left:5vw;
  margin-top:10vh;
 
}
.allcomponents{
 margin-left:7vw;
 width:200vw;
 margin-top:5vh;
 height:40vh;
}
.defaultcontainer{
  display:flex;
  justify-content:center;
  align-items:start;
}
