
 .default{
   width:100vw;
   height:90vh;
 }
 .side{
  list-style-type: none;
  padding-top:1vh;
   border-radius:5px;
   width:15vw;
   height:4vh;
   text-align:center;
   border-style: inset;
   font-size: calc(0.3rem + 1vw);
 }
 .side:hover{
   background-color:antiquewhite;
 }
  
.hdr{
   margin-top:5vh;
   height:70vh;
   width:20vw;
  background-color:burlywood;
   display: flex;
   flex-direction: column;
   justify-content:space-evenly;
   align-items: center;
}
.allcomponents{
  width:70vw;
 margin-left:5vw;
 margin-top:5vh;
 height:auto;

 background-color: whitesmoke;

 
}
.defaultcontainer{
  display:flex;
  justify-content:center;
  align-items:start;
   height:90vh;
   width:100vw;
   background-color:white;

}
@media (max-width:800px) {
  .default{
    height:100vh;
  }
  .defaultcontainer{
    flex-direction:column;
    align-items:center;
    justify-content:start;
   
  }
  .hdr{
    flex-direction:row;
    width:70vw;
    margin-top:4vh;
    height:6vh;
    margin-left:6.5vw;
  }
  .side{
  }
  .allcomponents{
    margin-top:3vh;
  }

}
