

.home{
  height:90vh;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
     
  }
  .uperhome{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:35vw;
   
    background-color:beige;
    height:70vh;
    margin-top:1vh;
   
  }
  .lowerhome{
    background-color:beige;
    height:7vh;
    margin-top:1vh;
    width:35vw;
    display:flex;
    align-items:end;
    justify-content:center;

  
}
  .username{
     padding-top:5vh;
  }
  .password{
     padding-top:1vh;
  }
  .p{
      width:40vw;
      font-style: bold ;
      padding-top:4vh; 
     padding-left: 1vw;
  }
  .userinp{
      width:25vw;
      height:4vh;
      border-radius: 5px;
      border-style: none;
  }
  .passinp{
      width:25vw;
      height:4vh;
      border-radius: 5px;
      border-style:hidden;
  }
 #googlebtn{
     
      display:flex;
      justify-content:center;
     margin-top:4vh;
    
  }

  .manualbtndiv{
    margin-top:5vh;
    margin-left:0.5vw;
  }
  .manualbtn{
      width:20vw;
      height:5vh;
      border-radius:6px;  
      border-style: none;
      background-color:maroon;
  }
  .or{
      padding-top:3vh;
  }
  
  
  
  .plower{
      padding-top:1.6vh;
      font-size:small;
  }
  @media (max-width:800px) {
      .home{
          height:85vh;
      }
    .uperhome{
    margin-top:0px;
    height:65vh;
    width:55vw;
   
    }
   .lowerhome{
width:55vw;
margin-top:1vh;
   }
   .passinp{
       width:40vw;
   }
   .userinp{
       width:40vw;
   }
   .manualbtn{
    width:30vw;
   }
   .or{
   display:none;
}

      }