.Singleplane{
    width:100vw;
    height:90vh;
}

.uppercontainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:aqua;
    justify-content:start;
    margin-top:2vh;
  
}
.formcontainer{
    display:flex;
   justify-content:center;
  background-color:yellow;
   width:75vw;
   margin-top:1vh;
}



.formbutton{
     width:15vw;
    background-color:coral;
    height:5vh;
    margin-left:2vw;
}
.finput{
    height:4vh;
    width:15vw;
}
.tailnumber{
    margin-right:2vw;
}
.detailcontent{
    background-color:whitesmoke;
    height:80vh;
    width:85vw;
    margin-top:5vh;
}


