
.all{
    width:55vw;
    height:15vh;
    margin-left:2vw;
    display:flex;
   justify-content:end;
    align-items:start;
   border-bottom-style: outset;
   
}
.allfault{
    margin-top:5vh; 
    background-color:aliceblue;
    width:60vw;
    height:100%;
    
}


.fault{
   
    font-size:small;
    align-self: start;
}
.deletecomponent{
   align-self:end;
  
   
}

.faultdiv{
display:flex;
justify-content:start;
margin-left:1vw;
width:50vw;
flex-direction: column;
margin-top:1vh;    
}
.tailnumber{
    margin:0vw;
    align-self:start;
   
}
.innerfault{
   
}