
.all{
    width:55vw;
    height:auto;
    margin-left:2vw;
    display:flex;
   justify-content:start;
    align-items:start;
   border-bottom-style: outset;
   
}
.allfault{
    margin-top:5vh; 
    background-color:aliceblue;
    width:60vw;
    
}
.airc{
    font-weight: bold;
    font-size:large;
}
.station{
    font-weight: bold;
    font-size:large;
}
.fault{
   
    font-size:smaller;
}
.deletecomponent{
   align-self:end;
   margin-left:20vw;
   
}

.faultdiv{
margin-left:1vw;
width:30vw;
    
}
.tailnumber{
    margin:0px;
    padding-left:0px;
}
.innerfault{
    margin:0px;
}